.imagem {
  position: relative;
  height: 90%;
  width: 80%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  margin-right: -40px;
}

#imagem {
  top: 0;
  margin-left: 10px;
  height: 200px;
  width: 70%;
  border-radius: 2px 16px 16px 16px;
  margin-top: 1px;
}

#imagem-preview {
  display: none;
  top: 0;
  left: 0;
  height: 200px;
  width: 70%;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 2px;
}

.botao {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  margin-left: -50px;
  display: inline-block;
  width: 150px;
}

.titulo #labelTitulo {
  margin-top: -10px;
  margin-left: 10px;
}

.imagem #labelImagem {
  margin-left: 10px;
}

.descricao #labelDescricao {
  margin-top: -5px;
  margin-left: 10px;
}

.descricao {
  height: 130px;
}

.btn-trocar-imagem {
  width: 100px;
  margin-left: 275px;
  margin-top: -26px;
  margin-bottom: 3px;
  background-color: #4e81b4;
  border-radius: 16px;
  color: white;
  border: #4e81b4;
  padding: 2px;
}

.botao .btn-cancelar {
  border: none;
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  border: 1px solid #1166ca;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 15px;
  cursor: pointer;
  margin-right: 20px;
  color: #1166ca !important;
  font-size: 1rem;
}

.btn-cancelar:hover {
  border: solid 2px #1255a1;
  /* background-color: #eaeaea; */
}

@media screen and (max-width: 810px) {
  .imagem-infos {
    flex-direction: column;
  }

  #imagem {
    height: 120px;
  }

  .imagem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .infos {
    width: 100%;
  }

  #causas-da-ong,
  #telefone,
  #responsavel,
  label {
    width: 250px;
    margin-left: 10px;
  }

  .botao .btn-cancelar {
    width: 150px;
  }

  .btn-cadastrar-problema {
    width: 150px;
  }

  .btn-trocar-imagem {
    margin-left: 170px;
    margin-top: -26px;
  }

  #body-problema {
    background-color: #ffffff;
  }
}

@media screen and (min-width: 811px) and (max-width: 1276px) {
  #causas-da-ong,
  #telefone,
  #responsavel,
  label {
    margin-left: 0;
  }

  .btn-cadastrar-problema {
    width: 150px;
    height: 30px;
  }

  .botao .btn-cancelar {
    width: 150px;
    height: 30px;
  }

  .descricao {
    margin-bottom: 0;
  }

  .btn-trocar-imagem {
    margin-left: 150px;
    margin-top: -26px;
  }

  label {
    margin-left: 150px;
  }
}
